<!DOCTYPE html>

<html>

<head>
    <link rel="stylesheet" href="/css/styles.css">
    <script src="/js/app.js"></script>
</head>

<body>
    <h1>The forecast </h1>
    <p>For {{location}} is that {{forecast}}</p>
</body>

</html>